# Mac
.DS_Store
._*
# vi
*.swp
# Emacs
*~
# Hidemaru
*.BAK
# Pyenv
.python-version

# This project
# Intellij - Java, Scala IDE
.idea
spark/scala/scala-genome-count/project/project/
spark/scala/scala-genome-count/project/target/
spark/scala/scala-genome-count/target/
